$blue: #006E90;
$emerald: #026945;
$turq: #005c78;
$cerulean: #0362a1;
$purple: #5a1878;
$yellow: #DAFF7D;

body{
    background:$blue;
    -webkit-animation:colour 30s linear infinite;
    -moz-animation:colour 30s linear infinite;
    color: white;
    font-size: 50%;

    header {
        background-color: rgba(100,100,100,.3);
        border-bottom: 1px groove white;
        margin-bottom: 30px;
        text-align: center;

        h1 {
            color: rgba(220,220,220,.7);
        }
    }

    @-webkit-keyframes colour{
        0%{
            background:$blue
        }
        25%{
            background:$purple
        }
        50%{
            background:$emerald
        }
        75%{
            background:$turq
        }
        100%{
            background:$blue
        }
    }
    @-moz-keyframes colour{
        0%{
            background:#006E90
        }
        25%{
            background:#00A896
        }
        50%{
            background:#029663
        }
        75%{
            background:#6E1C93
        }
        100%{
            background:#006E90
        }
    }

    #nav {
        text-align: center;
    }

    a {
        color: $yellow;
    }
    button {
        color: white;
        border: 0 solid;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
        outline: 1px solid;
        outline-color: rgba(255, 255, 255, .5);
        outline-offset: 0px;
        text-shadow: none;
        transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    button:hover {
        color: $yellow;
        border: 1px solid;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
        text-shadow: 1px 1px 2px #427388;
    }

    main {
        padding: 30px;
    }

    .typed-cursor{
        opacity: 1;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
    }
    @keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    @-webkit-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    @-moz-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
}
