$blue: #254A63;
$emerald: #026945;
$turq: #005c78;
$cerulean: #0362a1;
$purple: #5a1878;
$black-olive: #3B3D3B;
$links: rgba(234, 230, 231, .6);
$header-grey: rgba(100,100,100,.3);
$main-background: rgba(200,200,200,.3);


body {
    background:$blue;
    -webkit-animation:colour 30s linear infinite;
    -moz-animation:colour 30s linear infinite;
    color: $black-olive;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @-webkit-keyframes colour{
        0%{
            background:$blue
        }
        25%{
            background:$purple
        }
        50%{
            background:$emerald
        }
        75%{
            background:$turq
        }
        100%{
            background:$blue
        }
    }
    @-moz-keyframes colour{
        0%{
            background:#006E90
        }
        25%{
            background:#00A896
        }
        50%{
            background:#029663
        }
        75%{
            background:#6E1C93
        }
        100%{
            background:#006E90
        }
    }
    p {
        font-size: 22px;
    }
    a, a:hover {
        color: $links;
        font-size: 22px;
        text-decoration: none;
        letter-spacing: 2px;
    }

    header {
        background-color: $header-grey;
        width: 100%;
        margin-top: 0;
        margin-bottom: 50px;
        text-align: center;
        padding-bottom: 20px;
        -webkit-box-shadow: 0px 10px 40px 10px $header-grey;
        -moz-box-shadow: 0px 10px 40px 10px $header-grey;
        box-shadow: 0px 10px 40px 10px $header-grey;

        img {
            margin: 50px;
        }

        a:after, a:before {
            backface-visibility: hidden;
            border: 1px solid rgba(#fff, 0);
            bottom: 0px;
            content: " ";
            display: block;
            margin: 0 auto;
            position: relative;
            transition: all 280ms ease-in-out;
            width: 0;
        }

        a:hover:after, a:hover:before {
            backface-visibility: hidden;
            border-color: $links;
            transition: width 350ms ease-in-out;
            width: 75%;
        }

        a:hover:before {
            bottom: auto;
            top: 0;
            width: 70%;
        }
    }

    nav, footer {
        display: flex;
        width: 100%;
        justify-content: space-around;
        text-align: center;
    }

    main {
        background-color: $main-background;
        border-radius: 20px;

        h5 {
            color: $cerulean;
        }

        a, a:hover {
            letter-spacing: 0;
            color: $black-olive;
        }

        a:hover {
            text-decoration: underline;
        }

        #home-content, #module-content, #resources-content {
            padding: 80px;
        }

    }

    footer {
        margin-top: 50px;
        padding-bottom: 50px;
    }


}


