$blue: #006E90;
$emerald: #026945;
$turq: #005c78;
$cerulean: #0362a1;
$purple: #5a1878;
$yellow: #DAFF7D;

body{
    background:$blue;
    -webkit-animation:colour 30s linear infinite;
    -moz-animation:colour 30s linear infinite;
    color: white;
    font-size: 50%;


    @-webkit-keyframes colour{
        0%{
            background:$blue
        }
        25%{
            background:$purple
        }
        50%{
            background:$emerald
        }
        75%{
            background:$turq
        }
        100%{
            background:$blue
        }
    }
    @-moz-keyframes colour{
        0%{
            background:#006E90
        }
        25%{
            background:#00A896
        }
        50%{
            background:#029663
        }
        75%{
            background:#6E1C93
        }
        100%{
            background:#006E90
        }
    }

    #nav {
        padding: 50px;
        border-right: 1px solid white;
        text-align: center;
    }

    a {
        color: $yellow;
    }
    button {
        color: white;
    }
    button:hover {
        color: $yellow;
    }
}
