body {
  background: #254A63;
  -webkit-animation: colour 30s linear infinite;
  -moz-animation: colour 30s linear infinite;
  color: #3B3D3B;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

@-webkit-keyframes colour {
  0% {
    background: #254A63; }
  25% {
    background: #5a1878; }
  50% {
    background: #026945; }
  75% {
    background: #005c78; }
  100% {
    background: #254A63; } }

@-moz-keyframes colour {
  0% {
    background: #006E90; }
  25% {
    background: #00A896; }
  50% {
    background: #029663; }
  75% {
    background: #6E1C93; }
  100% {
    background: #006E90; } }
  body p {
    font-size: 22px; }
  body a, body a:hover {
    color: rgba(234, 230, 231, 0.6);
    font-size: 22px;
    text-decoration: none;
    letter-spacing: 2px; }
  body header {
    background-color: rgba(100, 100, 100, 0.3);
    width: 100%;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    padding-bottom: 20px;
    -webkit-box-shadow: 0px 10px 40px 10px rgba(100, 100, 100, 0.3);
    -moz-box-shadow: 0px 10px 40px 10px rgba(100, 100, 100, 0.3);
    box-shadow: 0px 10px 40px 10px rgba(100, 100, 100, 0.3); }
    body header img {
      margin: 50px; }
    body header a:after, body header a:before {
      backface-visibility: hidden;
      border: 1px solid rgba(255, 255, 255, 0);
      bottom: 0px;
      content: " ";
      display: block;
      margin: 0 auto;
      position: relative;
      transition: all 280ms ease-in-out;
      width: 0; }
    body header a:hover:after, body header a:hover:before {
      backface-visibility: hidden;
      border-color: rgba(234, 230, 231, 0.6);
      transition: width 350ms ease-in-out;
      width: 75%; }
    body header a:hover:before {
      bottom: auto;
      top: 0;
      width: 70%; }
  body nav, body footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center; }
  body main {
    background-color: rgba(200, 200, 200, 0.3);
    border-radius: 20px; }
    body main h5 {
      color: #3B3D3B;
      font-weight: 600; }
    body main a, body main a:hover {
      letter-spacing: 0;
      color: #3B3D3B; }
    body main a:hover {
      text-decoration: underline; }
    body main #home-content, body main #module-content, body main #resources-content {
      padding: 80px; }
  body footer {
    margin-top: 50px;
    padding-bottom: 50px; }
