
.container {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -250px;
  width: 500px;
  height: 460px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.shape {
  position: absolute;
  bottom: 0;
  left: 50%;
  opacity: .2;
  background-color: #380635;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.triangle {
  margin-left: -100px;
  width: 200px;
  height: 160px;
  -webkit-animation-name: triangle;
          animation-name: triangle;
  -webkit-clip-path: polygon(50% 100%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 100%, 0% 100%, 100% 100%);
}

@-webkit-keyframes triangle {
  5% {
    -webkit-clip-path: polygon(50% 100%, 0% 100%, 100% 100%);
            clip-path: polygon(50% 100%, 0% 100%, 100% 100%);
  }
  12%,
   83% {
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  95% {
    -webkit-clip-path: polygon(50% 100%, 0% 100%, 100% 100%);
            clip-path: polygon(50% 100%, 0% 100%, 100% 100%);
  }
}

@keyframes triangle {
  5% {
    -webkit-clip-path: polygon(50% 100%, 0% 100%, 100% 100%);
            clip-path: polygon(50% 100%, 0% 100%, 100% 100%);
  }
  12%,
   83% {
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  95% {
    -webkit-clip-path: polygon(50% 100%, 0% 100%, 100% 100%);
            clip-path: polygon(50% 100%, 0% 100%, 100% 100%);
  }
}
.square {
  margin-left: -100px;
  width: 200px;
  height: 200px;
  -webkit-animation-name: square;
          animation-name: square;
  -webkit-clip-path: polygon(50% 100%, 50% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(50% 100%, 50% 100%, 100% 100%, 0% 100%);
}

@-webkit-keyframes square {
  5% {
    -webkit-clip-path: polygon(50% 100%, 50% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(50% 100%, 50% 100%, 100% 100%, 0% 100%);
  }
  12% {
    -webkit-clip-path: polygon(50% 20%, 50% 20%, 100% 100%, 0% 100%);
            clip-path: polygon(50% 20%, 50% 20%, 100% 100%, 0% 100%);
  }
  19%,
   76% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  83% {
    -webkit-clip-path: polygon(50% 20%, 50% 20%, 100% 100%, 0% 100%);
            clip-path: polygon(50% 20%, 50% 20%, 100% 100%, 0% 100%);
  }
  95% {
    -webkit-clip-path: polygon(50% 100%, 50% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(50% 100%, 50% 100%, 100% 100%, 0% 100%);
  }
}

@keyframes square {
  5% {
    -webkit-clip-path: polygon(50% 100%, 50% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(50% 100%, 50% 100%, 100% 100%, 0% 100%);
  }
  12% {
    -webkit-clip-path: polygon(50% 20%, 50% 20%, 100% 100%, 0% 100%);
            clip-path: polygon(50% 20%, 50% 20%, 100% 100%, 0% 100%);
  }
  19%,
   76% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  83% {
    -webkit-clip-path: polygon(50% 20%, 50% 20%, 100% 100%, 0% 100%);
            clip-path: polygon(50% 20%, 50% 20%, 100% 100%, 0% 100%);
  }
  95% {
    -webkit-clip-path: polygon(50% 100%, 50% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(50% 100%, 50% 100%, 100% 100%, 0% 100%);
  }
}
.pentagon {
  margin-left: -160px;
  width: 320px;
  height: 300px;
  -webkit-animation-name: pentagon;
          animation-name: pentagon;
  -webkit-clip-path: polygon(52% 100%, 50% 100%, 50% 100%, 82% 100%, 18% 100%);
          clip-path: polygon(52% 100%, 50% 100%, 50% 100%, 82% 100%, 18% 100%);
}

@-webkit-keyframes pentagon {
  5% {
    -webkit-clip-path: polygon(52% 100%, 50% 100%, 50% 100%, 82% 100%, 18% 100%);
            clip-path: polygon(52% 100%, 50% 100%, 50% 100%, 82% 100%, 18% 100%);
  }
  12% {
    -webkit-clip-path: polygon(50% 47%, 50% 47%, 50% 47%, 81% 100%, 19% 100%);
            clip-path: polygon(50% 47%, 50% 47%, 50% 47%, 81% 100%, 19% 100%);
  }
  19% {
    -webkit-clip-path: polygon(19% 33.5%, 50% 33.5%, 81% 33.5%, 81% 100%, 19% 100%);
            clip-path: polygon(19% 33.5%, 50% 33.5%, 81% 33.5%, 81% 100%, 19% 100%);
  }
  26%,
   69% {
    -webkit-clip-path: polygon(0% 38%, 50% 0%, 100% 38%, 82% 100%, 18% 100%);
            clip-path: polygon(0% 38%, 50% 0%, 100% 38%, 82% 100%, 18% 100%);
  }
  76% {
    -webkit-clip-path: polygon(19% 33.5%, 50% 33.5%, 81% 33.5%, 81% 100%, 19% 100%);
            clip-path: polygon(19% 33.5%, 50% 33.5%, 81% 33.5%, 81% 100%, 19% 100%);
  }
  83% {
    -webkit-clip-path: polygon(50% 47%, 50% 47%, 50% 47%, 81% 100%, 19% 100%);
            clip-path: polygon(50% 47%, 50% 47%, 50% 47%, 81% 100%, 19% 100%);
  }
  95% {
    -webkit-clip-path: polygon(52% 100%, 50% 100%, 50% 100%, 82% 100%, 18% 100%);
            clip-path: polygon(52% 100%, 50% 100%, 50% 100%, 82% 100%, 18% 100%);
  }
}

@keyframes pentagon {
  5% {
    -webkit-clip-path: polygon(52% 100%, 50% 100%, 50% 100%, 82% 100%, 18% 100%);
            clip-path: polygon(52% 100%, 50% 100%, 50% 100%, 82% 100%, 18% 100%);
  }
  12% {
    -webkit-clip-path: polygon(50% 47%, 50% 47%, 50% 47%, 81% 100%, 19% 100%);
            clip-path: polygon(50% 47%, 50% 47%, 50% 47%, 81% 100%, 19% 100%);
  }
  19% {
    -webkit-clip-path: polygon(19% 33.5%, 50% 33.5%, 81% 33.5%, 81% 100%, 19% 100%);
            clip-path: polygon(19% 33.5%, 50% 33.5%, 81% 33.5%, 81% 100%, 19% 100%);
  }
  26%,
   69% {
    -webkit-clip-path: polygon(0% 38%, 50% 0%, 100% 38%, 82% 100%, 18% 100%);
            clip-path: polygon(0% 38%, 50% 0%, 100% 38%, 82% 100%, 18% 100%);
  }
  76% {
    -webkit-clip-path: polygon(19% 33.5%, 50% 33.5%, 81% 33.5%, 81% 100%, 19% 100%);
            clip-path: polygon(19% 33.5%, 50% 33.5%, 81% 33.5%, 81% 100%, 19% 100%);
  }
  83% {
    -webkit-clip-path: polygon(50% 47%, 50% 47%, 50% 47%, 81% 100%, 19% 100%);
            clip-path: polygon(50% 47%, 50% 47%, 50% 47%, 81% 100%, 19% 100%);
  }
  95% {
    -webkit-clip-path: polygon(52% 100%, 50% 100%, 50% 100%, 82% 100%, 18% 100%);
            clip-path: polygon(52% 100%, 50% 100%, 50% 100%, 82% 100%, 18% 100%);
  }
}
.hexagon {
  width: 400px;
  height: 340px;
  margin-left: -200px;
  -webkit-animation-name: hexagon;
          animation-name: hexagon;
  -webkit-clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 75.5% 100%, 24.5% 100%);
          clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 75.5% 100%, 24.5% 100%);
}

@-webkit-keyframes hexagon {
  5% {
    -webkit-clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 75.5% 100%, 24.5% 100%);
            clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 75.5% 100%, 24.5% 100%);
  }
  12% {
    -webkit-clip-path: polygon(50% 53%, 50% 53%, 50% 53%, 50% 53%, 75% 100%, 25% 100%);
            clip-path: polygon(50% 53%, 50% 53%, 50% 53%, 50% 53%, 75% 100%, 25% 100%);
  }
  19% {
    -webkit-clip-path: polygon(25% 41.2%, 50% 41.2%, 50% 41.2%, 75% 41.2%, 75% 100%, 25% 100%);
            clip-path: polygon(25% 41.2%, 50% 41.2%, 50% 41.2%, 75% 41.2%, 75% 100%, 25% 100%);
  }
  26% {
    -webkit-clip-path: polygon(10% 45.3%, 50% 12%, 50% 12%, 90% 45.3%, 75.5% 100%, 24.5% 100%);
            clip-path: polygon(10% 45.3%, 50% 12%, 50% 12%, 90% 45.3%, 75.5% 100%, 24.5% 100%);
  }
  33%,
   62% {
    -webkit-clip-path: polygon(0 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
            clip-path: polygon(0 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  }
  69% {
    -webkit-clip-path: polygon(10% 45.3%, 50% 12%, 50% 12%, 90% 45.3%, 75.5% 100%, 24.5% 100%);
            clip-path: polygon(10% 45.3%, 50% 12%, 50% 12%, 90% 45.3%, 75.5% 100%, 24.5% 100%);
  }
  76% {
    -webkit-clip-path: polygon(25% 41.2%, 50% 41.2%, 50% 41.2%, 75% 41.2%, 75% 100%, 25% 100%);
            clip-path: polygon(25% 41.2%, 50% 41.2%, 50% 41.2%, 75% 41.2%, 75% 100%, 25% 100%);
  }
  83% {
    -webkit-clip-path: polygon(50% 53%, 50% 53%, 50% 53%, 50% 53%, 75% 100%, 25% 100%);
            clip-path: polygon(50% 53%, 50% 53%, 50% 53%, 50% 53%, 75% 100%, 25% 100%);
  }
  95% {
    -webkit-clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 75.5% 100%, 24.5% 100%);
            clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 75.5% 100%, 24.5% 100%);
  }
}

@keyframes hexagon {
  5% {
    -webkit-clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 75.5% 100%, 24.5% 100%);
            clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 75.5% 100%, 24.5% 100%);
  }
  12% {
    -webkit-clip-path: polygon(50% 53%, 50% 53%, 50% 53%, 50% 53%, 75% 100%, 25% 100%);
            clip-path: polygon(50% 53%, 50% 53%, 50% 53%, 50% 53%, 75% 100%, 25% 100%);
  }
  19% {
    -webkit-clip-path: polygon(25% 41.2%, 50% 41.2%, 50% 41.2%, 75% 41.2%, 75% 100%, 25% 100%);
            clip-path: polygon(25% 41.2%, 50% 41.2%, 50% 41.2%, 75% 41.2%, 75% 100%, 25% 100%);
  }
  26% {
    -webkit-clip-path: polygon(10% 45.3%, 50% 12%, 50% 12%, 90% 45.3%, 75.5% 100%, 24.5% 100%);
            clip-path: polygon(10% 45.3%, 50% 12%, 50% 12%, 90% 45.3%, 75.5% 100%, 24.5% 100%);
  }
  33%,
   62% {
    -webkit-clip-path: polygon(0 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
            clip-path: polygon(0 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  }
  69% {
    -webkit-clip-path: polygon(10% 45.3%, 50% 12%, 50% 12%, 90% 45.3%, 75.5% 100%, 24.5% 100%);
            clip-path: polygon(10% 45.3%, 50% 12%, 50% 12%, 90% 45.3%, 75.5% 100%, 24.5% 100%);
  }
  76% {
    -webkit-clip-path: polygon(25% 41.2%, 50% 41.2%, 50% 41.2%, 75% 41.2%, 75% 100%, 25% 100%);
            clip-path: polygon(25% 41.2%, 50% 41.2%, 50% 41.2%, 75% 41.2%, 75% 100%, 25% 100%);
  }
  83% {
    -webkit-clip-path: polygon(50% 53%, 50% 53%, 50% 53%, 50% 53%, 75% 100%, 25% 100%);
            clip-path: polygon(50% 53%, 50% 53%, 50% 53%, 50% 53%, 75% 100%, 25% 100%);
  }
  95% {
    -webkit-clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 75.5% 100%, 24.5% 100%);
            clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 75.5% 100%, 24.5% 100%);
  }
}
.heptagon {
  width: 460px;
  height: 410px;
  margin-left: -230px;
  -webkit-animation-name: heptagon;
          animation-name: heptagon;
  -webkit-clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 71.8% 100%, 28.2% 100%);
          clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 71.8% 100%, 28.2% 100%);
}

@-webkit-keyframes heptagon {
  5% {
    -webkit-clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 71.8% 100%, 28.2% 100%);
            clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 71.8% 100%, 28.2% 100%);
  }
  12% {
    -webkit-clip-path: polygon(50% 62%, 50% 62%, 50% 62%, 50% 62%, 50% 62%, 71.8% 100%, 28.2% 100%);
            clip-path: polygon(50% 62%, 50% 62%, 50% 62%, 50% 62%, 50% 62%, 71.8% 100%, 28.2% 100%);
  }
  19% {
    -webkit-clip-path: polygon(28.2% 52.5%, 50% 52.5%, 50% 52.5%, 50% 52.5%, 71.8% 52.5%, 71.8% 100%, 28.2% 100%);
            clip-path: polygon(28.2% 52.5%, 50% 52.5%, 50% 52.5%, 50% 52.5%, 71.8% 52.5%, 71.8% 100%, 28.2% 100%);
  }
  26% {
    -webkit-clip-path: polygon(15.2% 55.8%, 50% 28.8%, 50% 28.8%, 50% 28.8%, 84.8% 55.8%, 72% 100%, 28% 100%);
            clip-path: polygon(15.2% 55.8%, 50% 28.8%, 50% 28.8%, 50% 28.8%, 84.8% 55.8%, 72% 100%, 28% 100%);
  }
  33% {
    -webkit-clip-path: polygon(6.8% 59.5%, 28.5% 19.2%, 50% 19.2%, 71.5% 19.2%, 93.2% 59.6%, 72% 100%, 28% 100%);
            clip-path: polygon(6.8% 59.5%, 28.5% 19.2%, 50% 19.2%, 71.5% 19.2%, 93.2% 59.6%, 72% 100%, 28% 100%);
  }
  40%,
   55% {
    -webkit-clip-path: polygon(0% 65%, 10% 20%, 50% 0%, 90% 20%, 100% 65%, 72% 100%, 28% 100%);
            clip-path: polygon(0% 65%, 10% 20%, 50% 0%, 90% 20%, 100% 65%, 72% 100%, 28% 100%);
  }
  62% {
    -webkit-clip-path: polygon(6.8% 59.5%, 28.5% 19.2%, 50% 19.2%, 71.5% 19.2%, 93.2% 59.6%, 72% 100%, 28% 100%);
            clip-path: polygon(6.8% 59.5%, 28.5% 19.2%, 50% 19.2%, 71.5% 19.2%, 93.2% 59.6%, 72% 100%, 28% 100%);
  }
  69% {
    -webkit-clip-path: polygon(15.2% 55.8%, 50% 28.8%, 50% 28.8%, 50% 28.8%, 84.8% 55.8%, 72% 100%, 28% 100%);
            clip-path: polygon(15.2% 55.8%, 50% 28.8%, 50% 28.8%, 50% 28.8%, 84.8% 55.8%, 72% 100%, 28% 100%);
  }
  76% {
    -webkit-clip-path: polygon(28.2% 52.5%, 50% 52.5%, 50% 52.5%, 50% 52.5%, 71.8% 52.5%, 71.8% 100%, 28.2% 100%);
            clip-path: polygon(28.2% 52.5%, 50% 52.5%, 50% 52.5%, 50% 52.5%, 71.8% 52.5%, 71.8% 100%, 28.2% 100%);
  }
  83% {
    -webkit-clip-path: polygon(50% 62%, 50% 62%, 50% 62%, 50% 62%, 50% 62%, 71.8% 100%, 28.2% 100%);
            clip-path: polygon(50% 62%, 50% 62%, 50% 62%, 50% 62%, 50% 62%, 71.8% 100%, 28.2% 100%);
  }
  95% {
    -webkit-clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 71.8% 100%, 28.2% 100%);
            clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 71.8% 100%, 28.2% 100%);
  }
}

@keyframes heptagon {
  5% {
    -webkit-clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 71.8% 100%, 28.2% 100%);
            clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 71.8% 100%, 28.2% 100%);
  }
  12% {
    -webkit-clip-path: polygon(50% 62%, 50% 62%, 50% 62%, 50% 62%, 50% 62%, 71.8% 100%, 28.2% 100%);
            clip-path: polygon(50% 62%, 50% 62%, 50% 62%, 50% 62%, 50% 62%, 71.8% 100%, 28.2% 100%);
  }
  19% {
    -webkit-clip-path: polygon(28.2% 52.5%, 50% 52.5%, 50% 52.5%, 50% 52.5%, 71.8% 52.5%, 71.8% 100%, 28.2% 100%);
            clip-path: polygon(28.2% 52.5%, 50% 52.5%, 50% 52.5%, 50% 52.5%, 71.8% 52.5%, 71.8% 100%, 28.2% 100%);
  }
  26% {
    -webkit-clip-path: polygon(15.2% 55.8%, 50% 28.8%, 50% 28.8%, 50% 28.8%, 84.8% 55.8%, 72% 100%, 28% 100%);
            clip-path: polygon(15.2% 55.8%, 50% 28.8%, 50% 28.8%, 50% 28.8%, 84.8% 55.8%, 72% 100%, 28% 100%);
  }
  33% {
    -webkit-clip-path: polygon(6.8% 59.5%, 28.5% 19.2%, 50% 19.2%, 71.5% 19.2%, 93.2% 59.6%, 72% 100%, 28% 100%);
            clip-path: polygon(6.8% 59.5%, 28.5% 19.2%, 50% 19.2%, 71.5% 19.2%, 93.2% 59.6%, 72% 100%, 28% 100%);
  }
  40%,
   55% {
    -webkit-clip-path: polygon(0% 65%, 10% 20%, 50% 0%, 90% 20%, 100% 65%, 72% 100%, 28% 100%);
            clip-path: polygon(0% 65%, 10% 20%, 50% 0%, 90% 20%, 100% 65%, 72% 100%, 28% 100%);
  }
  62% {
    -webkit-clip-path: polygon(6.8% 59.5%, 28.5% 19.2%, 50% 19.2%, 71.5% 19.2%, 93.2% 59.6%, 72% 100%, 28% 100%);
            clip-path: polygon(6.8% 59.5%, 28.5% 19.2%, 50% 19.2%, 71.5% 19.2%, 93.2% 59.6%, 72% 100%, 28% 100%);
  }
  69% {
    -webkit-clip-path: polygon(15.2% 55.8%, 50% 28.8%, 50% 28.8%, 50% 28.8%, 84.8% 55.8%, 72% 100%, 28% 100%);
            clip-path: polygon(15.2% 55.8%, 50% 28.8%, 50% 28.8%, 50% 28.8%, 84.8% 55.8%, 72% 100%, 28% 100%);
  }
  76% {
    -webkit-clip-path: polygon(28.2% 52.5%, 50% 52.5%, 50% 52.5%, 50% 52.5%, 71.8% 52.5%, 71.8% 100%, 28.2% 100%);
            clip-path: polygon(28.2% 52.5%, 50% 52.5%, 50% 52.5%, 50% 52.5%, 71.8% 52.5%, 71.8% 100%, 28.2% 100%);
  }
  83% {
    -webkit-clip-path: polygon(50% 62%, 50% 62%, 50% 62%, 50% 62%, 50% 62%, 71.8% 100%, 28.2% 100%);
            clip-path: polygon(50% 62%, 50% 62%, 50% 62%, 50% 62%, 50% 62%, 71.8% 100%, 28.2% 100%);
  }
  95% {
    -webkit-clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 71.8% 100%, 28.2% 100%);
            clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 71.8% 100%, 28.2% 100%);
  }
}
.octagon {
  width: 500px;
  height: 460px;
  margin-left: -250px;
  -webkit-animation-name: octagon;
          animation-name: octagon;
  -webkit-clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 70% 100%, 30% 100%);
          clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 70% 100%, 30% 100%);
}

@-webkit-keyframes octagon {
  5% {
    -webkit-clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 70% 100%, 30% 100%);
            clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 70% 100%, 30% 100%);
  }
  12% {
    -webkit-clip-path: polygon(50% 65%, 50% 65%, 50% 65%, 50% 65%, 50% 65%, 50% 65%, 70% 100%, 30% 100%);
            clip-path: polygon(50% 65%, 50% 65%, 50% 65%, 50% 65%, 50% 65%, 50% 65%, 70% 100%, 30% 100%);
  }
  19% {
    -webkit-clip-path: polygon(30% 56.5%, 50% 56.5%, 50% 56.5%, 50% 56.5%, 50% 56.5%, 70% 56.5%, 70% 100%, 30% 100%);
            clip-path: polygon(30% 56.5%, 50% 56.5%, 50% 56.5%, 50% 56.5%, 50% 56.5%, 70% 56.5%, 70% 100%, 30% 100%);
  }
  26% {
    -webkit-clip-path: polygon(18% 59.7%, 50% 35%, 50% 35%, 50% 35%, 50% 35%, 82% 59.7%, 70% 100%, 30% 100%);
            clip-path: polygon(18% 59.7%, 50% 35%, 50% 35%, 50% 35%, 50% 35%, 82% 59.7%, 70% 100%, 30% 100%);
  }
  33% {
    -webkit-clip-path: polygon(10% 63%, 30% 26.2%, 50% 26.2%, 50% 26.2%, 70% 26.2%, 90% 63%, 70% 100%, 30% 100%);
            clip-path: polygon(10% 63%, 30% 26.2%, 50% 26.2%, 50% 26.2%, 70% 26.2%, 90% 63%, 70% 100%, 30% 100%);
  }
  40% {
    -webkit-clip-path: polygon(4% 68%, 13.2% 27%, 50% 9%, 50% 9%, 86.8% 27%, 96% 68%, 70% 100%, 30% 100%);
            clip-path: polygon(4% 68%, 13.2% 27%, 50% 9%, 50% 9%, 86.8% 27%, 96% 68%, 70% 100%, 30% 100%);
  }
  47%,
   62% {
    -webkit-clip-path: polygon(0% 75%, 0% 30%, 30% 0%, 70% 0%, 100% 30%, 100% 75%, 70% 100%, 30% 100%);
            clip-path: polygon(0% 75%, 0% 30%, 30% 0%, 70% 0%, 100% 30%, 100% 75%, 70% 100%, 30% 100%);
  }
  55% {
    -webkit-clip-path: polygon(4% 68%, 13.2% 27%, 50% 9%, 50% 9%, 86.8% 27%, 96% 68%, 70% 100%, 30% 100%);
            clip-path: polygon(4% 68%, 13.2% 27%, 50% 9%, 50% 9%, 86.8% 27%, 96% 68%, 70% 100%, 30% 100%);
  }
  62% {
    -webkit-clip-path: polygon(10% 63%, 30% 26.2%, 50% 26.2%, 50% 26.2%, 70% 26.2%, 90% 63%, 70% 100%, 30% 100%);
            clip-path: polygon(10% 63%, 30% 26.2%, 50% 26.2%, 50% 26.2%, 70% 26.2%, 90% 63%, 70% 100%, 30% 100%);
  }
  69% {
    -webkit-clip-path: polygon(18% 59.7%, 50% 35%, 50% 35%, 50% 35%, 50% 35%, 82% 59.7%, 70% 100%, 30% 100%);
            clip-path: polygon(18% 59.7%, 50% 35%, 50% 35%, 50% 35%, 50% 35%, 82% 59.7%, 70% 100%, 30% 100%);
  }
  76% {
    -webkit-clip-path: polygon(30% 56.5%, 50% 56.5%, 50% 56.5%, 50% 56.5%, 50% 56.5%, 70% 56.5%, 70% 100%, 30% 100%);
            clip-path: polygon(30% 56.5%, 50% 56.5%, 50% 56.5%, 50% 56.5%, 50% 56.5%, 70% 56.5%, 70% 100%, 30% 100%);
  }
  83% {
    -webkit-clip-path: polygon(50% 65%, 50% 65%, 50% 65%, 50% 65%, 50% 65%, 50% 65%, 70% 100%, 30% 100%);
            clip-path: polygon(50% 65%, 50% 65%, 50% 65%, 50% 65%, 50% 65%, 50% 65%, 70% 100%, 30% 100%);
  }
  95% {
    -webkit-clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 70% 100%, 30% 100%);
            clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 70% 100%, 30% 100%);
  }
}

@keyframes octagon {
  5% {
    -webkit-clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 70% 100%, 30% 100%);
            clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 70% 100%, 30% 100%);
  }
  12% {
    -webkit-clip-path: polygon(50% 65%, 50% 65%, 50% 65%, 50% 65%, 50% 65%, 50% 65%, 70% 100%, 30% 100%);
            clip-path: polygon(50% 65%, 50% 65%, 50% 65%, 50% 65%, 50% 65%, 50% 65%, 70% 100%, 30% 100%);
  }
  19% {
    -webkit-clip-path: polygon(30% 56.5%, 50% 56.5%, 50% 56.5%, 50% 56.5%, 50% 56.5%, 70% 56.5%, 70% 100%, 30% 100%);
            clip-path: polygon(30% 56.5%, 50% 56.5%, 50% 56.5%, 50% 56.5%, 50% 56.5%, 70% 56.5%, 70% 100%, 30% 100%);
  }
  26% {
    -webkit-clip-path: polygon(18% 59.7%, 50% 35%, 50% 35%, 50% 35%, 50% 35%, 82% 59.7%, 70% 100%, 30% 100%);
            clip-path: polygon(18% 59.7%, 50% 35%, 50% 35%, 50% 35%, 50% 35%, 82% 59.7%, 70% 100%, 30% 100%);
  }
  33% {
    -webkit-clip-path: polygon(10% 63%, 30% 26.2%, 50% 26.2%, 50% 26.2%, 70% 26.2%, 90% 63%, 70% 100%, 30% 100%);
            clip-path: polygon(10% 63%, 30% 26.2%, 50% 26.2%, 50% 26.2%, 70% 26.2%, 90% 63%, 70% 100%, 30% 100%);
  }
  40% {
    -webkit-clip-path: polygon(4% 68%, 13.2% 27%, 50% 9%, 50% 9%, 86.8% 27%, 96% 68%, 70% 100%, 30% 100%);
            clip-path: polygon(4% 68%, 13.2% 27%, 50% 9%, 50% 9%, 86.8% 27%, 96% 68%, 70% 100%, 30% 100%);
  }
  47%,
   62% {
    -webkit-clip-path: polygon(0% 75%, 0% 30%, 30% 0%, 70% 0%, 100% 30%, 100% 75%, 70% 100%, 30% 100%);
            clip-path: polygon(0% 75%, 0% 30%, 30% 0%, 70% 0%, 100% 30%, 100% 75%, 70% 100%, 30% 100%);
  }
  55% {
    -webkit-clip-path: polygon(4% 68%, 13.2% 27%, 50% 9%, 50% 9%, 86.8% 27%, 96% 68%, 70% 100%, 30% 100%);
            clip-path: polygon(4% 68%, 13.2% 27%, 50% 9%, 50% 9%, 86.8% 27%, 96% 68%, 70% 100%, 30% 100%);
  }
  62% {
    -webkit-clip-path: polygon(10% 63%, 30% 26.2%, 50% 26.2%, 50% 26.2%, 70% 26.2%, 90% 63%, 70% 100%, 30% 100%);
            clip-path: polygon(10% 63%, 30% 26.2%, 50% 26.2%, 50% 26.2%, 70% 26.2%, 90% 63%, 70% 100%, 30% 100%);
  }
  69% {
    -webkit-clip-path: polygon(18% 59.7%, 50% 35%, 50% 35%, 50% 35%, 50% 35%, 82% 59.7%, 70% 100%, 30% 100%);
            clip-path: polygon(18% 59.7%, 50% 35%, 50% 35%, 50% 35%, 50% 35%, 82% 59.7%, 70% 100%, 30% 100%);
  }
  76% {
    -webkit-clip-path: polygon(30% 56.5%, 50% 56.5%, 50% 56.5%, 50% 56.5%, 50% 56.5%, 70% 56.5%, 70% 100%, 30% 100%);
            clip-path: polygon(30% 56.5%, 50% 56.5%, 50% 56.5%, 50% 56.5%, 50% 56.5%, 70% 56.5%, 70% 100%, 30% 100%);
  }
  83% {
    -webkit-clip-path: polygon(50% 65%, 50% 65%, 50% 65%, 50% 65%, 50% 65%, 50% 65%, 70% 100%, 30% 100%);
            clip-path: polygon(50% 65%, 50% 65%, 50% 65%, 50% 65%, 50% 65%, 50% 65%, 70% 100%, 30% 100%);
  }
  95% {
    -webkit-clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 70% 100%, 30% 100%);
            clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 70% 100%, 30% 100%);
  }
}
